/*--------------------------------------------------------------------------------------------------------------------------------------------------
FOOTER 
----------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	background-color: var(--color-white);
	min-height: 50px;

	width: 100%;
	max-width: var(--site-width);
	margin-inline: auto;	
}
