/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/

:root {
	--site-width: 1920px;
	--container-width: 1640px;
	--container-padding: 20px;

	--font-main: "CoFoSans", sans-serif;
	--font-title: "MabryPro", sans-serif;

	--color-white: white;

	--scrollbar: #eee;
	--scrollbar-track: rgb(0, 0, 0, 0.3);
	--scrollbar-thumb: #7557ff;
	
	--radius: 40px;
	--shadow: 0 10px 30px 0 rgba(79, 61, 161, 0.4);	
}
